@font-face {
  font-family: "Gotham";
  src: url("../font/gothamhtf-book-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Gotham";
  src: url("../../font/gothamhtf-book-webfont.eot");
  /* IE */
  font-weight: 400;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/gothamhtf-bold-webfont.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Gotham";
  src: url("../../font/gothamhtf-bold-webfont.ttf") format("truetype");
  /* IE */
  font-weight: 700;
}
html {
  font-size: 13px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1366px) {
  html {
    font-size: 17.3px;
  }
}

body {
  font-family: "Gotham", sans-serif;
  margin: 0;
  color: #000;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

.container {
  margin: auto;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, p {
  display: block;
  margin: 0;
  font-weight: 300;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
}

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1450px) {
  .container {
    max-width: 1250px;
  }
}
@media (min-width: 1599px) {
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 1750px) {
  .container {
    max-width: 1600px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 20px 0;
  padding-left: 50px;
  z-index: 999;
}

.d-nav-wrap {
  height: 100%;
}

.d-nav {
  height: 100%;
  font-size: 0.83rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.d-nav ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.d-nav ul li a {
  position: relative;
  display: inline-block;
  padding: 15px 0;
}
.d-nav ul li a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 13px;
  width: 0px;
  height: 1px;
  background: #000;
  transition: 0.3s;
}
.d-nav ul li a:hover::after {
  width: 100%;
}
.d-nav ul li.active a::after {
  width: 100%;
}

.menu-header {
  font-size: 17px;
  font-weight: 300;
  color: #c3c4c7;
}
.menu-header ul {
  display: flex;
}
.menu-header ul li a {
  margin: 0 1rem;
}
.home-banner-wrap {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.image-banner {
  height: 100%;
  background: url(../images/banner1.jpg);
  background-size: cover;
  animation: Tzoom 8s infinite;
}
.image-banner::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4990371148) 0%, rgba(255, 255, 255, 0.300157563) 50%, rgba(246, 246, 246, 0) 100%);
}

@keyframes Tzoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.content-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.content-banner .title-banner {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 0 250px;
}

.icon-menu {
  display: none;
}

@media (max-width: 1199px) {
  .content-banner .title-banner {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .content-banner .title-banner {
    font-size: 36px;
    padding: 0 50px;
  }
}
@media (max-width: 979px) {
  .header {
    position: fixed;
    bottom: initial;
    width: 100%;
    padding: 20px 15px;
  }

  .d-nav-wrap {
    display: flex;
    justify-content: flex-end;
  }

  .icon-menu {
    display: block;
    width: 24px;
    position: relative;
    margin-left: 15px;
  }
  .icon-menu span {
    display: block;
    background-color: #000;
    width: 100%;
    margin: 1.5px 0;
    border-radius: 3px;
    height: 2px;
    float: right;
  }
  .icon-menu span:first-child {
    margin-top: 0;
  }
  .icon-menu span:nth-child(2n+1) {
    width: 18px;
  }
  .icon-menu span:last-child {
    margin-bottom: 0;
  }

  .d-nav {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-banner .title-banner {
    font-size: 24px;
  }
}
.group-service {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  position: relative;
  flex: 0 0 50%;
}

.image-service img {
  width: 100%;
}

.content-service {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-service .title-service {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  line-height: 1;
}
.content-service .title-service .description {
  font-size: 30px;
}

.tag-photos {
  flex: 0 0 auto;
  width: 100%;
  padding: 1.5rem 5rem;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .content-service .title-service {
    font-size: 36px;
  }

  .content-service .title-service .description {
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .content-service .title-service {
    font-size: 32px;
  }

  .content-service .title-service .description {
    font-size: 20px;
  }

  .service-item {
    flex: 0 0 100%;
  }
}
@media (max-width: 767px) {
  .content-service .title-service {
    font-size: 20px;
  }

  .content-service .title-service .description {
    font-size: 16px;
  }

  .tag-photos {
    padding: 1.5rem 2rem;
  }
}
.group-product {
  display: flex;
  flex-wrap: wrap;
}
.group-product .product-item {
  flex: 0 0 20%;
}
.group-product .product-item img {
  width: 100%;
}

@media (max-width: 767px) {
  .group-product .product-item {
    flex: 0 0 33%;
  }
}
footer {
  padding: 45px 0 60px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.group-subscribe {
  flex-grow: 1;
}
.group-subscribe label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.group-subscribe .form-group {
  display: block;
  margin-bottom: 1.5rem;
}
.group-subscribe .form-group .form-control {
  height: 45px;
  padding: 0 1rem;
  border: 1px solid #000;
  width: 100%;
  max-width: 490px;
}
.group-subscribe .form-group .form-control:focus {
  outline: none;
}
.group-subscribe .form-group button {
  height: 45px;
  padding: 0 15px;
  color: #fff;
  background: #000;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.group-subscribe .form-group button:focus {
  outline: none;
}

.social-network {
  margin: 0;
}
.social-network li {
  display: inline-block;
}
.social-network li:not(:last-child) {
  margin-right: 25px;
}
.social-network li a {
  font-size: 1.5rem;
}

.group-customer-care .title-group-f {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.group-customer-care ul {
  margin: 0;
  font-size: 12.3px;
}
.group-customer-care ul li {
  margin-bottom: 8px;
}

.footer-bottom {
  margin: 80px 0 0;
  text-align: center;
}
.footer-bottom ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 10.78px;
}
.footer-bottom ul li {
  position: relative;
  margin-bottom: 5px;
}
.footer-bottom ul li:not(:last-child) {
  padding-right: 1rem;
}
.footer-bottom ul li:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0.5rem;
  height: 100%;
  width: 1px;
  background-color: #000;
}
.footer-bottom ul li a {
  position: relative;
}
.footer-bottom ul li a::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 0;
  background: #000;
  transition: 0.3s;
}
.footer-bottom ul li a:hover::after {
  width: 100%;
}

@media (max-width: 991px) {
  .group-subscribe .form-group .form-control {
    max-width: 350px;
  }
}
@media (max-width: 767px) {
  footer {
    padding: 40px 15px;
  }

  .footer-bottom {
    margin-top: 40px;
  }

  .footer-top {
    flex-direction: column;
  }

  .group-subscribe {
    margin-bottom: 30px;
  }

  .group-subscribe .form-group {
    display: flex;
  }

  .group-subscribe .form-group .form-control {
    max-width: initial;
    flex-grow: 1;
  }
}
@media all and (min-width: 979px) {
  .m-nav, .m-nav-over {
    display: none !important;
  }
}
@media all and (max-width: 979px) {
  .m-nav-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 998;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.4s ease-in-out;
  }
  .m-nav-over.active {
    width: 100%;
  }

  .m-nav {
    display: block;
    position: fixed;
    top: 0;
    width: 280px;
    bottom: 0;
    z-index: 999;
    color: #000;
    background-color: #000;
    transition: all 0.4s ease-in-out;
    right: -280px;
  }
  .m-nav.active {
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.15);
    right: 0;
  }
  .m-nav.active .m-nav-close {
    visibility: visible;
    opacity: 1;
  }
  .m-nav .m-nav-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    outline: none;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
    transition: inherit;
    opacity: 0;
    visibility: hidden;
    background: transparent;
    border: none;
    z-index: 9;
  }
  .m-nav .nav-ct {
    height: 100%;
    overflow: auto;
  }
  .m-nav .nav-ct li.active a {
    color: yellow;
  }
  .m-nav a {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 15px 10px 18px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
  }
  .m-nav ul ul {
    background: rgba(255, 255, 255, 0.1);
    display: none;
  }
  .m-nav ul ul a {
    padding-left: 36px;
  }
  .m-nav ul ul ul {
    padding-left: 54px;
  }
}