html {
  font-size: 15px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1366px) {
  html {
    font-size: 18px;
  }
}

body {
  background: #21201e;
  margin: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-weight: 300;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
}

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1599px) {
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 1750px) {
  .container {
    max-width: 1600px;
  }
}
.header {
  padding: 50px 0;
  text-align: center;
}

.search-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.search-box .form-group {
  display: flex;
  flex-direction: column;
}
.search-box label {
  font-weight: 600;
  margin-bottom: 5px;
}

#searchText {
  width: 300px;
  height: 42px;
  line-height: 42px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
}
#searchText:focus {
  box-shadow: none;
  outline: none;
}

.list-employee {
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s;
}
.list-employee .item {
  flex: 0 0 calc((100% - 90px) / 4);
  background: #fff;
  color: #111;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 30px;
}
.list-employee .item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.list-employee .item .image-employee {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
}
.list-employee .description-eployee {
  font-weight: 500;
}
.list-employee .description-eployee .name-employee {
  font-weight: 600;
}
.list-employee .email-employee {
  word-break: break-all;
  transition: 0.3s;
}
.list-employee .email-employee:hover {
  color: blue;
}

.no-results {
  width: 100%;
  text-align: center;
  color: red;
}

@media (max-width: 1199px) {
  .list-employee .item {
    flex: 0 0 calc((100% - 60px) / 3);
    margin-right: 0 !important;
  }
  .list-employee .item:not(:nth-child(3n)) {
    margin-right: 30px !important;
  }
}
@media (max-width: 767px) {
  .list-employee .item {
    flex: 0 0 100%;
    margin-right: 0 !important;
  }
  .list-employee .item:not(:nth-child(3n)) {
    margin-right: 30px !important;
  }

  #searchText {
    width: calc(100vw - 30px);
  }
}
.body-spinner .list-employee {
  opacity: 0.1;
}
.body-spinner .spinner-wrap {
  position: absolute;
  width: calc(100vw - 20px);
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-spinner .spinner {
  width: 5em;
  height: 5em;
  border-top: 0.5em solid #fff;
  border-right: 0.5em solid transparent;
  animation: spinner 0.8s linear infinite;
  border-radius: 50%;
}
.body-spinner .head-spinner {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  margin-left: 4.25em;
  margin-top: 0.75em;
  background-color: #fff;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}