.header {
	padding: 10px 15px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	transition: all 0.5s ease-in-out;

	// &:after {
	//     content: '';
	//     pointer-events: none;
	//     z-index: -1;
	//     position: absolute;
	//     top: 0;
	//     bottom: -20px;
	//     left: 0;
	//     right: 0;
	//     background-image: linear-gradient(rgba(#000, 0.7), rgba(#000, 0.5), rgba(#000, 0));
	//     transition: inherit;
	// }

	.logo {
		position: relative;
		z-index: 10;
		img {
			max-height: 100px;
			transition: 0.5s;
		}
	}

	&.fixed {
		padding: 15px 0;

		&:after {
			bottom: 0px;
		}
	}
}
.fp-viewing-banner-home {
	.header {
		padding: 35px 15px;
	}
	.logo {
		img {
			max-height: 125px;
		}
	}
}

.wrap-control-header {
	display: flex;
	.language {
		margin: 0 20px;
	}
}
.search-form {
	input[type="search"] {
		-webkit-appearance: textfield;
		-webkit-box-sizing: content-box;
		font-family: inherit;
		font-size: 100%;
		height: 22px;
	}

	input[type="search"] {
		background: $c2 url(../images/icon-search.png) no-repeat 12px center;
		border: solid 1px $c1;
		padding: 9px 10px 9px 32px;
		min-width: 20px;
		border-radius: 10em;
		transition: all 0.5s;
	}
}

.search-form input[type="search"] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
	&::placeholder {
		color: transparent;
	}
}
.search-form input[type="search"]:hover {
	background-color: #fff;
}
.search-form input[type="search"]:focus {
	width: 200px;
	padding-left: 35px;
	color: $c2;
	background-color: #fff;
	cursor: auto;
	&::placeholder {
		color: $c1;
	}
}

.language {
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		border: solid 1px $c1;
		background: $c2;
		color: $c1;
		text-transform: uppercase;
		font-weight: 500;
		&:hover {
			background: #fff;
		}
	}
}

.menu-btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 500;
	height: 42px;
	padding: 0 18px;
	border-radius: 21px;
	z-index: 10;
	background: $c1;
	color: $c2;
	span {
		width: 25px;
		position: relative;
		margin-left: 10px;
	}
	i {
		display: block;
		background-color: $c2;
		height: 2px;
		width: 25px;
		margin: 6px 0;
		transition: all 0.2s ease-in-out;
		position: relative;
		&:nth-child(1) {
			left: 0px;
		}

		&:nth-child(2) {
			left: 5px;
			width: 20px;
		}

		&:nth-child(3) {
			left: 0px;
		}
	}

	&:not(.active):hover i {
		left: 0;
		width: 25px;
		&:nth-child(3),
		&:nth-child(1) {
			left: 5px;
			width: 20px;
		}
	}

	&.active {
		i {
			// background-color: $color-primary;
			&:nth-child(1) {
				transform: rotate(45deg) translate(8px, 9px);
			}

			&:nth-child(2) {
				left: -5px;
				opacity: 0;
			}

			&:nth-child(3) {
				transform: rotate(-45deg) translate(8px, -9px);
			}
		}
	}

	@include media(max, $lg) {
		i {
			width: 30px;
			margin: 8px 0;
		}

		&.active {
			i {
				&:nth-child(1) {
					transform: rotate(45deg) translate(10px, 4px);
				}

				&:nth-child(3) {
					transform: rotate(-45deg) translate(10px, -4px);
				}
			}
		}
	}
}

.fp-viewing-part-home {
	.d-nav > ul > li > a {
		color: #fff;
	}
	header .wrap-header .hd-right .d-nav > ul > li:hover > a,
	header .wrap-header .hd-right .d-nav > ul > li.active > a {
		color: $c-text;
	}
	.d-nav > ul.right.item li.user-header i,
	.d-nav > ul.right.item li.language-header a span {
		border: 1px solid #fff;
	}
	.d-nav > ul.right.item li.user-header:hover i,
	.d-nav > ul.right.item li.language-header a:hover span {
		border: 1px solid $c-text;
	}
	header .wrap-header .hd-right .d-nav > ul > li.phone-header:hover > a {
		color: #fff;
	}
}

.d-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	.logo {
		height: 90px;
		flex: 0 0 430px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 1s;
		img {
			height: 65px;
			transition: 1s;
		}
	}
	> ul {
		height: 90px;
		max-width: 980px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-grow: 1;
		> li {
			height: 100%;
			display: flex;
			align-items: center;
			position: relative;
			transition: 0.3s;
			> a {
				position: relative;
				display: block;
				padding: 0 15px;
				border-radius: 18px;
				text-transform: uppercase;
				font-weight: 500;
				transition: 0.3s;
			}
			&:hover {
				> ul {
					transform: scale(1);
				}
			}
			> ul {
				position: absolute;
				left: 0;
				top: calc(100% + 1px);
				z-index: 1;
				background-color: $c-bd;
				box-shadow: 0 0 5px 0 rgba(#000, 0.32);
				min-width: 150px;
				transform: scale(0);
				transform-origin: 0 0;
				transition: 0.3s;
				li {
					a {
						position: relative;
						white-space: nowrap;
						font-size: 15px;
						display: block;
						padding: 10px 12px;
						border-bottom: 1px solid #cbcccd;
						transition: 0.3s;
						&:before {
							content: "";
							position: absolute;
							left: 0;
							top: 50%;
							height: 1px;
							width: 0;
							background-color: $c1;
							transition: 0.3s;
						}
					}
					&:hover,
					&.active {
						a {
							background-color: #e9e9e9;
							padding-left: 20px;
							color: $c1;
							&:before {
								width: 9px;
							}
						}
					}
				}
			}
		}
		&.right.item {
			display: flex;
			justify-content: flex-end;
			flex: 0 0 435px;
			margin-left: 50px;
			li {
				a {
					display: flex;
					width: 100%;
					height: 100%;
					padding: 0;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}

.banner-head {
	margin-top: 170px;
	height: calc(100vh - 170px);
	transition: 0.5s;
	position: relative;
}
.ct-banner-slider {
	img {
		height: calc(100vh - 170px);
		width: 100%;
		position: relative;
	}
	&::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.3785889355742297) 0%, rgba(255, 255, 255, 0) 100%);
		z-index: 1;
	}
	.content-banner-text {
		.ct-banner {
			position: absolute;
			width: 30%;
			top: 50%;
			transform: translateY(calc(-50% - 80px));
			z-index: 5;
			h1.title-banner {
				font-size: 55px;
				font-family: $f2;
				color: #fff;
				text-transform: uppercase;
				font-weight: 900;
				line-height: 1.2;
				margin-bottom: 0.3em;
			}
			p.desc-banner {
				font-size: 20px;
				color: #fff;
				margin-bottom: 1.5em;
			}
		}
	}
}

// search
.search-hd {
	position: absolute;
	width: 300px;
	right: 0px;
	z-index: 2;
	border-radius: 3px;
	box-shadow: 0 1px 6px 0 rgba(#000, 0.3);
	display: none;
	top: calc(100% + 10px);
	background: #fff;
	padding: 10px;
	&:before {
		content: "";
		position: absolute;
		bottom: 100%;
		width: 0;
		height: 0;
		right: 20px;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 9px solid #fff;
	}
	&.active {
		display: block;
	}
}
.search-fr {
	position: relative;
	input {
		background: rgba(#000, 0.07);
		width: 100%;
		height: 38px;
		border: none;
		@include place($c-text);
		padding-right: 35px;
		font-size: 14px;
	}
	button {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 10px;
		color: $c1;
		font-size: 16px;
	}
}

@media (min-width: 1600px) {
}
@media (max-width: 1749px) {
}
@media (max-width: 1749px) {
	.d-nav > ul > li > a {
		padding: 0 12px;
	}
}
@media (max-width: 1599px) {
	.header .logo img {
		max-height: 80px;
	}
	.fp-viewing-banner-home {
		.header {
			padding: 15px 15px;
		}
		.logo {
			img {
				max-height: 100px;
			}
		}
	}
	.search-form input[type="search"] {
		padding: 7px 8px 7px 8px;
		background: #1d435f url(../images/icon-search.png) no-repeat 10px center;
	}
	.language a {
		width: 38px;
		height: 38px;
	}
	.menu-btn {
		height: 38px;
		i {
			margin: 7px 0;
			&:nth-child(2) {
				width: 25px;
			}
		}
	}
}

@media (max-width: 1199px) {
	.header {
		padding: 30px 15px;
	}
}
@media (max-width: 991px) {
}

@media (max-width: 767px) {
	.header {
		padding: 15px 15px;
		&.scroll {
			&:after {
				content: "";
				pointer-events: none;
				z-index: -1;
				position: absolute;
				top: 0;
				bottom: -20px;
				left: 0;
				right: 0;
				background-image: linear-gradient(rgba(#000, 1), rgba(#000, 0.5), rgba(#000, 0));
				transition: inherit;
			}
			.logo img {
				max-height: 70px;
			}
		}
	}
	.wrap-control-header {
		.language,
		.search-form {
			display: none;
		}
	}
	.menu-btn {
		background: transparent;
		color: #fff;
		i {
			background: #fff;
		}
	}
	
}
