// ----------------------------- header -------------------------------
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    background-color: #1a1a1a;
    z-index: 999;
}

.header-content-wrap {
    display: flex;
    align-items: center;
}
.logo-header {
    margin-right: 50px;
}
.site-logo-link {
    svg {
        height: 48px;
    }
    &:hover {
        .niteco-dot {
            animation: bounce 1s infinite;
        }
    }
}
.menu-header {
    font-size: 17px;
    font-weight: 300;
    color: #c3c4c7;
    ul {
        display: flex;
        li {
            a {
                margin: 0 1rem;
                &:hover {
                    color: $color1;
                }
            }
        }
    }
}

@keyframes Tzoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    40% {
    }
    50% {
        transform: translateY(4px);
    }
    55% {
        transform: translateY(6px);
    }
    65% {
        transform: translateY(2px);
    }
    95% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1599px) {
    .site-logo-link {
        svg {
            height: 36px;
            width: auto;
        }
    }
    .menu-header ul {
        margin: 0;
    }
}
@media (max-width: 767px) {
    .site-logo-link {
        svg {
            height: 30px;
        }
    }
    .logo-header {
        margin-right: 30px;
    }
    .header {
        padding: 15px 0;
    }
    .header-content-wrap {
        justify-content: space-between;
    }
    .menu-header{
        font-size: 15px;
    }
}

// ----------------------------- banner -------------------------------
.banner-home-wrap {
    position: relative;
    margin-top: 94px;
}

.image-banner {
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        max-height: 613px;
        animation: Tzoom 8s infinite;
    }
}

.content-banner-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.content-banner {
    background-color: #000;
    height: calc(100% - 180px);
    width: 40%;
    max-width: 520px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-wrap {
    color: $color1;
    text-transform: uppercase;
    .description {
        font-size: 1.11rem;
    }
}

@media (max-width: 1599px) {
    .banner-home-wrap {
        margin-top: 80px;
    }
    .image-banner img {
        max-height: 436px;
    }
}

@media (max-width: 1199px) {
    .content-banner {
        height: calc(100% - 100px);
    }
    .image-banner img {
        height: 400px;
    }
}

@media (max-width: 1199px) {
    .content-banner {
        width: 50%;
    }
    .image-banner img {
        height: 320px;
    }
}

@media (max-width: 767px) {
    .content-banner {
        width: 100%;
        height: 100%;
        padding: 15px 20px 30px;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .image-banner img {
        height: 200px;
    }
    .banner-home-wrap {
        margin-top: 64px;
    }
}

// ----------------------------- group-product -------------------------------
.group-product {
    .title-main {
        text-align: center;
        margin-bottom: 3rem;
    }
}

.list-product {
    display: flex;
    justify-content: space-between;
}

.item-product {
    flex: 0 0 calc((100% - 6rem) / 3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
    .image-item {
        margin-bottom: 2rem;
        img {
            height: 260px;
        }
    }
    .title-item {
        font-size: 1.33rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
        sup {
            font-size: 0.5em;
        }
    }
    .main-description {
        text-align: justify;
        margin-bottom: 2rem;
    }
    ul {
        text-align: left;
        margin-bottom: 2rem;
        li {
            margin-bottom: 1rem;
        }
    }
    .item-control {
        .btn-primary {
            width: 100%;
            font-size: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-transform: capitalize;
            margin-bottom: 1rem;
        }
        .item-price {
            font-size: 1.8rem;
            text-align: left;
            font-weight: 500;
        }
    }
}

.copy-right {
    text-align: center;
    color: #c3c4c7;
    padding: 1.33rem 0 2.5rem;
    border-top: 1px solid rgba(#c3c4c7, 0.3);
}

@media (max-width: 991px) {
    .item-product {
        flex: 0 0 calc((100% - 4rem) / 3);
    }
}

@media (max-width: 767px) {
    .list-product {
        flex-direction: column;
    }
    .item-product .image-item img {
        height: 200px;
    }
    .item-product .item-control .item-price{
        text-align: center;
    }
}
