.svg-location {
    path.cls-3 {
        stroke-dashoffset: 0;
        animation: draw 10s infinite linear;
    }
}
.connect.active{
    path.cls-2 {
        transform: translate(0px,5px);
        animation: bounceInDown 2s linear;
    }
}

@keyframes draw {
    to {
        stroke-dashoffset: 350;
    }
}

@keyframes bounceInDown {
    0% {
       opacity: 0;
       transform: translateY(-450px);
    }
    50% {
       opacity: 1;
       transform: translateY(25px);
    }
    70% {
       transform: translateY(-10px);
    }
    88% {
        transform: translateY(10px);
    }
    96% {
        transform: translateY(0px);
    }
    100% {
       transform: translateY(5px);
    }
 } 

@keyframes hideshow {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.ani1,.ani11{
    animation-delay: 0.1s!important;
}
.ani2,.ani12{
    animation-delay: 0.2s!important;
}
.ani3,.ani13{
    animation-delay: 0.3s!important;
}
.ani4,.ani14{
    animation-delay: 0.4s!important;
}
.ani5,.ani15{
    animation-delay: 0.5s!important;
}
.ani7{
    animation-delay: 0.7s!important;
}
.ani8{
    animation-delay: 0.8s!important;
}
.ani9{
    animation-delay: 0.9s!important;
}
.ani10{
    animation-delay: 1s!important;
}


// #run{
//     stroke-dasharray: 870;
//     stroke-dashoffset: 870;
//     animation: dash 10s linear infinite;
// }
// #center{
// 	animation: opa 4s linear alternate  infinite;
// }

// @keyframes dash {
//     from {
//         stroke-dasharray: 870;
//     }

//     to {
//         stroke-dashoffset: 0;
//     }
// }

// #quy  #quy2 {
//     stroke-dasharray: 4870;
//     stroke-dashoffset: 4870;
//     fill-opacity: 1;
//     stroke: #0d2d6c;
//     animation: draw 10s infinite linear;
//   }

// #quy #quy1{
//     stroke-dasharray: 12870;
//     stroke-dashoffset: 12870;
//     fill-opacity: 1;
//     stroke: #0d2d6c;
//     animation: draw1 10s infinite linear;
//   }

// @keyframes draw1 {
//     to {
//       stroke-dashoffset: 0;
//     }
//   }

.pin-location {
    cursor: pointer;
    .cls-1 {
        display: none;
    }
    .cls-2 {
        animation: pin-animation 1.5s infinite;
    }
    &.active {
        .cls-1 {
            display: block;
        }
    }
}

#active-pin {
    .pin-location {
        cursor: default;
        opacity: 0;
        transition: 0.5s;
        &.active {
            opacity: 1;
        }
    }
}

@keyframes pin-animation {
    0% {
        r: 13;
    }
    50% {
        r: 18;
    }
    100% {
        r: 20;
    }
}

@keyframes pin-animation2 {
    0% {
        r: 18;
    }
    50% {
        r: 25;
    }
    100% {
        r: 28;
    }
}

#active-area{
    .area-item{
        opacity: 0;
        transition: 0.5s;
        image,path,circle{
            pointer-events: none;
        }
        &.active{
            opacity: 1;
        }
    }
}

.pin-area{
    animation: pin-animation2 1.5s infinite;
    cursor: pointer;
}
#pin-area{
    .cls-2{
        pointer-events: none;
    }
}
